html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: white;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  line-height: 1.5em;
  font-family: 'Montserrat', sans-serif
}

header {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
}

nav {
  top: 0;
  width: 100%;
  position: absolute;
}

main {
  width: 100vw;
  top: 40px;
  position: relative;
}


button {
  background-color: slategray;
  height: 30px;
  width: 75px;
  font-size: 1.2rem;
  border-radius: 5px;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
  cursor: pointer;
  vertical-align: middle;
}

input {
  border: 1px solid black;
  border-radius: 5px;
  width: 35vw;
  height: 5vh;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif
}

ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 15px;
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  margin-right: 15px;
}

.genre-label {
  display: block;
}


.input-container {
  width: 43vw;
  position: relative;
  margin: 0 auto;
  top: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  width: max-content;
  margin: 0 auto;
  align-items: center;
  top: 10%;
}

.letho{
  font-size:2.5rem;
  font-family: 'Baloo', sans-serif;
}

.desc {
  font-family: 'Oswald', sans-serif;
}

.results{
  height: 67vh;
  position: relative;
  top: 20%;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: space-evenly;

}

.result-item-container{
  display: flex;
  margin-bottom: 40px;
}

.block-span {
  display: block;
  margin-bottom: 10px;
}

.film-info {
  width: 300px;
  height: 278px;
  overflow-y: scroll;
  padding-left: 15px;
}

.tag, .overview, .date{
  font-family: 'Montserrat', sans-serif
}
.title {
  font-family: 'Baloo', sans-serif
}

.instructions {
  width: 20vw;
  height: 10vh;
  background-color: white;
  position: relative;
  margin: 0 auto;
  top: 40vh;
}

.instructions p {
  color: black;
  font-family: 'Montserrat', sans-serif
}

.stats {
  position: relative;
  width: 80vw;
  height: 40px;
  margin: 0 auto;
  top: 10vh;
}

.stats-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}

.stats-list li{
  margin-right: 10px;
  font-family: 'Montserrat', sans-serif
}

.genre-select-container{
  width: max-content;
  height: auto;
  position: relative;
  top: 40vh;
  margin: 0 auto;
}

.game-content{
  position: relative;
  width: max-content;
  margin: 0 auto;
  top: 30vh;
  display: flex;
}

.results {
  display: none;
}

.game-results {
  width: max-content;
  position: relative;
  margin: 0 auto;
  margin-top: 15%;
}



.poster {
  height: 261px;
  width: 185px;
  background-repeat: no-repeat;
  margin-right: 20px;
}

.poster-num {
  margin-left: 10px;
}

#genre-select, #difficulty-select {
  height: 30px;
}

#genre-select {
  margin-bottom: 10px;
}

fieldset {
  display: flex;
  height: 261px;
}

fieldset input {

  width: max-content;
}

label {
  margin-bottom: 10px;
  display: block;
}

.times-up {
  width: 300px;
  height: 100px;
  background-color: black;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: 'Baloo', sans-serif;
  color: white;
  border-radius: 5px;
  font-size: 2.5rem;
  z-index: 2;
  position: relative;
}
