html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: radial-gradient(circle, rgba(255,255,224,1) 13%, rgba(249,233,170,1) 63%, rgba(238,219,142,1) 100%);
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  line-height: 1.5em;
  font-family: 'Montserrat', sans-serif;
  overflow-y: hidden;
}

header {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #c74130;
  z-index: 2;
}

nav {
  top: 0;
  width: 100%;
  position: absolute;
}

main {
  width: 100vw;
  top: 40px;
  position: relative;
}


button {
  background-color: #c74130;
  color: white;
  height: 35px;
  width: 75px;
  font-size: 1rem;
  border-radius: 5px;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
  cursor: pointer;
  vertical-align: middle;
}

input {
  border: 1px solid black;
  border-radius: 5px;
  width: 35vw;
  height: 35px;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif
}

ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 15px;
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  margin-right: 15px;
}

.input-container {
  width: 40vw;
  position: relative;
  margin: 0 auto;
  top: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  width: max-content;
  margin: 0 auto;
  align-items: center;
  top: 100px;
}

.letho{
  font-size:2.5rem;
  font-family: 'Baloo', sans-serif;
}

.desc {
  font-family: 'Oswald', sans-serif;
}

.results{
  height: 67vh;
  position: relative;
  top: 200px;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: space-evenly;

}

.result-item-container{
  display: flex;
  margin-bottom: 40px;
}

.block-span {
  display: block;
  margin-bottom: 10px;
}

.film-info {
  display: none;
  width: 300px;
  height: 278px;
  overflow-y: scroll;
  padding-left: 15px;
  padding-right: 15px;
}

.tag, .overview, .date{
  font-family: 'Montserrat', sans-serif
}

.title {
  font-family: 'Baloo', sans-serif
}

@media screen and (max-width: 412px) {
  input {
    width: 60vw;
    font-size: .8rem;
  }

  .input-container {
    width: 80vw;
  }

  .result-item-container {
    width: 90vw;
    justify-content: center;
  }


}

@media screen and (min-width: 411px) {
  .film-info {
    display: block;
  }
}
